# Declare updater_app domain
type updater_app, domain, coredomain;

app_domain(updater_app)

# Allow updater app access to the network
net_domain(updater_app)

# Allow finding various services needed for our updater app
allow updater_app activity_service:service_manager find;
allow updater_app activity_task_service:service_manager find;
allow updater_app audio_service:service_manager find;
allow updater_app autofill_service:service_manager find;
allow updater_app gpu_service:service_manager find;
allow updater_app surfaceflinger_service:service_manager find;
allow updater_app tethering_service:service_manager find;
allow updater_app thermal_service:service_manager find;
allow updater_app update_engine_service:service_manager find;

# Allow binder IPC with update_engine and gpuservice
binder_call(updater_app, update_engine)
binder_call(updater_app, gpuservice)

# Allow updater app to write to cgroup
allow updater_app cgroup:file w_file_perms;

# Allow updater app full access to system_app_data_file
allow updater_app system_app_data_file:dir create_dir_perms;
allow updater_app system_app_data_file:file create_file_perms;

# Allow updater app full access to updater_ota_file
allow updater_app updater_ota_file:dir create_dir_perms;
allow updater_app updater_ota_file:file create_file_perms;
