# HwBinder IPC from client to server
binder_call(hal_krypton_touch_client, hal_krypton_touch_server)

add_hwservice(hal_krypton_touch_server, hal_krypton_touch_hwservice)
allow hal_krypton_touch_client hal_krypton_touch_hwservice:hwservice_manager find;
